;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]]

 :dev-http {9000 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compliledjs"
        :target :browser
        :modules {:main {:init-fn rvis.main/main!}}
        :devtools {:after-load rvis.main/reload!}}}}
